In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('breast-cancer.csv')

In [3]:
df.head(10)

,class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiated
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
5,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,left,left_low,no
6,no-recurrence-events,50-59,premeno,25-29,0-2,no,2,left,left_low,no
7,no-recurrence-events,60-69,ge40,20-24,0-2,no,1,left,left_low,no
8,no-recurrence-events,40-49,premeno,50-54,0-2,no,2,left,left_low,no
9,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,left_up,no

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   class        286 non-null    object
 1   age          286 non-null    object
 2   menopause    286 non-null    object
 3   tumor-size   286 non-null    object
 4   inv-nodes    286 non-null    object
 5   node-caps    286 non-null    object
 6   deg-malig    286 non-null    int64
 7   breast       286 non-null    object
 8   breast-quad  286 non-null    object
 9   irradiated   286 non-null    object
 10  ID           286 non-null    int64
dtypes: int64(2), object(9)
memory usage: 24.7+ KB

--------------
## 1. Melt

In [14]:
df['ID'] = df.index

In [21]:
df.melt(id_vars=['ID'])

       ID    variable                 value
0       0       class  no-recurrence-events
1       1       class  no-recurrence-events
2       2       class  no-recurrence-events
3       3       class  no-recurrence-events
4       4       class  no-recurrence-events
...   ...         ...                   ...
2855  281  irradiated                    no
2856  282  irradiated                   yes
2857  283  irradiated                    no
2858  284  irradiated                    no
2859  285  irradiated                    no

[2860 rows x 3 columns]

--------------
## 2. Pivot

In [33]:
df.pivot(index='ID',columns='irradiated',values='tumor-size')

irradiated     no    yes
ID
0           30-34    NaN
1           20-24    NaN
2           20-24    NaN
3           15-19    NaN
4             0-4    NaN
..            ...    ...
281         30-34    NaN
282           NaN  20-24
283         20-24    NaN
284         30-34    NaN
285         30-34    NaN

[286 rows x 2 columns]

--------------
## 3. Aggregation

In [59]:
df.agg({'deg-malig':['mean','median','std']})

        deg-malig
mean     2.048951
median   2.000000
std      0.738217

--------------
## 4. Iteration

In [61]:
for col in df:
    print(col)

class
age
menopause
tumor-size
inv-nodes
node-caps
deg-malig
breast
breast-quad
irradiated
ID

In [63]:
for key,value in df.iteritems():
    print(key,value)

class 0      no-recurrence-events
1      no-recurrence-events
2      no-recurrence-events
3      no-recurrence-events
4      no-recurrence-events
               ...
281       recurrence-events
282       recurrence-events
283       recurrence-events
284       recurrence-events
285       recurrence-events
Name: class, Length: 286, dtype: object
age 0      30-39
1      40-49
2      40-49
3      60-69
4      40-49
       ...
281    30-39
282    30-39
283    60-69
284    40-49
285    50-59
Name: age, Length: 286, dtype: object
menopause 0      premeno
1      premeno
2      premeno
3         ge40
4      premeno
        ...
281    premeno
282    premeno
283       ge40
284       ge40
285       ge40
Name: menopause, Length: 286, dtype: object
tumor-size 0      30-34
1      20-24
2      20-24
3      15-19
4        0-4
       ...
281    30-34
282    20-24
283    20-24
284    30-34
285    30-34
Name: tumor-size, Length: 286, dtype: object
inv-nodes 0      0-2
1      0-2
2      0-2
3      0-2
4      0-2
      ...
281    0-2
282    0-2
283    0-2
284    3-5
285    3-5
Name: inv-nodes, Length: 286, dtype: object
node-caps 0      no
1      no
2      no
3      no
4      no
       ..
281    no
282    no
283    no
284    no
285    no
Name: node-caps, Length: 286, dtype: object
deg-malig 0      3
1      2
2      2
3      2
4      2
      ..
281    2
282    3
283    1
284    3
285    3
Name: deg-malig, Length: 286, dtype: int64
breast 0       left
1      right
2       left
3      right
4      right
       ...
281     left
282     left
283    right
284     left
285     left
Name: breast, Length: 286, dtype: object
breast-quad 0       left_low
1       right_up
2       left_low
3        left_up
4      right_low
         ...
281      left_up
282      left_up
283      left_up
284     left_low
285     left_low
Name: breast-quad, Length: 286, dtype: object
irradiated 0       no
1       no
2       no
3       no
4       no
      ...
281     no
282    yes
283     no
284     no
285     no
Name: irradiated, Length: 286, dtype: object
ID 0        0
1        1
2        2
3        3
4        4
      ...
281    281
282    282
283    283
284    284
285    285
Name: ID, Length: 286, dtype: int64

--------------
## 5. Groupby

In [69]:
df.groupby(by='age').mean()

       deg-malig          ID
age
20-29   2.000000   63.000000
30-39   2.138889  166.388889
40-49   2.066667  145.166667
50-59   2.072917  135.625000
60-69   1.982456  140.526316
70-79   1.500000  101.166667